<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="org.example.HtmlReporter"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/vrtosh/Music/Dump/testng/src/main/java/org/example/Main.java">
        <classes>
            <class name="org.example.Main">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>